*{
    background-color: #153956;
}

.contact1{
    
    padding-top: 150px;
    margin-left: 150px;
}

.contact1 p{
    color: tomato;
    font-size: 25px;
}

.contact1 p span{
    color: white;
    font-size: 20px;
}

.form{
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    color: tomato;
    padding-top: -200px;
    
    
}

.form input{
    background-color: teal;
    width: 200px;
    font-size: 25px;
}

.form textarea{
    background-color: teal;
    width: 400px;
    height: 100px;
}

nav{
    text-align: center;
    color: white;
}


nav a{
    color: white;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin: 20px;
    outline: none;
}

